<section class="image-featured-image container mx-auto">
  <div class="featured-image max-w-full	h-auto mb-8">
    {%- assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_1920x.' -%}

    {% if section.settings.link %}
      <a href="{{ block.settings.link }}" class=" max-w-full	h-auto"> 
    {% endif %}

      <img src="{{ img_url }}" class=" max-w-full	h-auto">
      
    {% if section.settings.link %}
      </a>
    {% endif %}

  </div>
</section>


{% schema %}
  {
    "name": "Featured Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link"
      }
    ],
    "presets": [
      {
        "name": "Hero Image",
        "category": "Image"
      }
    ]
  }
{% endschema %}
